.form{
    margin: 50px;
}

#confirmed-color{
    color: green;
}

#unconfirmed-color{
    color: red;
}

#messages-office{
    margin-top: -37px;
}

.left-side{
    margin-left: -15px;
}

.textxd{
    padding: 200px;
}