<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">

    {% block head %}{% endblock head %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">

    <!-- Brand -->
    <a class="navbar-brand" href="{% url 'home' %}">Navbar</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'panel' %}">Panel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Logowanie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">Rejestracja</a>
            </li>
        </ul>
    </div>
</nav>

{% block content %}{% endblock content %}

<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Your Website</small>
    </div>
  </footer>
</body>
</html>