{% extends 'base/base_panel_office.html' %}
{% load crispy_forms_tags %}
{% block head %}
    <title>Fizjo-System - Edytuj Pacjenta</title>
{% endblock head %}
{% block content %}
    <div class="container border rounded bg-light">
        <div class="form">
            <h2>Pacjent: {{ patient.first_name }} {{ patient.last_name }}</h2>
            <hr>
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <hr>
                <button type="submit" class="btn btn-success">Zapisz zmiany</button>
                <a href="{% url 'office_panel:patients' %}" class="btn btn-outline-secondary" role="button">Powrót</a>
                <a href="{% url 'office_panel:patient_delete' patient.pk %}"
                   class="btn btn-danger float-right">Usuń</a>
            </form>
        </div>
    </div>
{% endblock content %}