{% extends 'base/base_panel_office.html' %}
{% block head %}
    <title>Fizjo-System - Historia Medyczna</title>
{% endblock head %}
{% block content %}
    <div class="container border rounded mt-3 bg-light">
        <div class="form">
            <h2>Historia medyczna pacjenta {{ medicalhistory.patient }}</h2>
            <div class="right-button"><a href="{% url 'office-medical-history-change' medicalhistory.pk %}"
                                         class="btn btn-info"
                                         role="button">Edytuj</a>
                <a href="{% url 'office-medical-history-delete' medicalhistory.pk %}"
                   class="btn btn-danger" role="button">Usuń</a></div>
            <hr>
            {{ medicalhistory.patient }} -
            {{ medicalhistory.date_selected|date:"d.m.Y" }}, {{ medicalhistory.date_selected|date:"H:i" }}
            {% if medical_history.appointment %}
                {{ medical_history.appointment.date|date:"d.m.Y" }}, {{ medicalhistory.appointment.date|date:"H:i" }},
                <div class="text-description">{{ medicalhistory.appointment.choice }}</div>
            {% endif %}
            <div class="border-left rounded p-1 mt-3">Opis:
                <div class="text-description">{{ medicalhistory.description }}</div>
            </div>
            <div class="border-left rounded p-1 mt-3">Zalecenia:
                <div class="text-description">{{ medicalhistory.recommendations }}</div>
            </div>
        </div>
    </div>
{% endblock content %}