{% extends 'Physiotherapy_Management_System/base_panel_patient.html' %}
{% block head %}
    <title>Fizjo-System - Zbliżające się Wizyty</title>
{% endblock head %}
{% block content %}
    <div class="container border rounded bg-light">
        <div class="form">
            {% if appointments %}
                <h2>Twoje zbliżające się wizyty:</h2>
            {% else %}
                <h2>Nie masz umówionych żadnych wizyt.</h2>
                <p>(kliknij przycisk poniżej i umów się na wizytę.)</p>
            {% endif %}
            {% if appointments %}
                {% for appointment in appointments %}
                    <hr>
                    <div class="text-description">
                        {{ appointment.office.name }},
                        {{ appointment.date|date:"d.m.Y" }}, o godz: {{ appointment.date|date:"H:i" }} -
                        {{ appointment.choice }}
                        {% if appointment.confirmed %}
                            [<span id="confirmed-color">Potwierdzona</span>]
                        {% else %}
                            [<span id="unconfirmed-color">Niepotwierdzona</span>]
                        {% endif %}
                    </div>
                    <div class="right-button">
                        <a href="{% url 'patient-appointment-change' appointment.pk %}" class="btn btn-info"
                           role="button">Zmień</a>
                        <a href="{% url 'patient-appointment-cancel' appointment.pk %}" class="btn btn-danger"
                           role="button">Odwołaj</a>
                    </div>
                {% endfor %}
                <hr>
            {% endif %}
            {% if not appointments %}
                <hr>
                <a href="{% url 'appointments-select' %}" class="btn btn-warning" role="button">Umów się na wizytę</a>
            {% endif %}
        </div>
    </div>
{% endblock content %}