{% extends 'Physiotherapy_Management_System/base_panel_patient.html' %}
{% block head %}
    <title>Fizjo-System - Gabinety</title>
{% endblock head %}
{% block content %}
    <div class="container border rounded mt-3 bg-light">
        <div class="form">
            {% if offices %}
                <h2>Wszystkie gabinety:</h2>
                {% for office in offices %}
                    <hr>
                    {{ office.name }}
                {% endfor %}
                <hr>
            {% else %}
                <h2>Nie jesteś zarejestrowany w żadnym gabinecie.</h2>
                <p>(gabinet musi dodać Cię do swojej bazy)</p>
                <hr>
                <a href="{% url 'appointments-select' %}" class="btn btn-warning" role="button">Umów się na wizytę</a>
            {% endif %}
        </div>
    </div>
{% endblock content %}