{% extends 'Physiotherapy_Management_System/base.html' %}
{% block head %}
    <title>Fizjo-System - Link Wysłany</title>
{% endblock head %}
{% block content %}
    <div class="container border rounded bg-light">
        <div class="form">
            <h2>Link do zresetowania hasła został wysłany.</h2>
            <hr>
            <p>
                Na podany adres email wysłaliśmy instrukcję jak zresetować hasło, jeśli konto z podanym adresem
                istnieje.
                <br>
                Powinieneś niedługo ją otrzymać.
            </p>
            <p>
                Jeśli nie otrzymałeś emaila z instrukcją, upewnij się że wprowadziłeś poprawny adres email.
                <br>
                Sprawdź także folder spam.
            </p>
        </div>
    </div>
{% endblock %}