{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block head %}
    <title>Fizjo-System - Zmień Hasło</title>
{% endblock %}
{% block content %}
    <div class="container border rounded bg-light">
        <div class="form">
            {% if validlink %}
                <h2>Zmień hasło</h2>
                <hr>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success">Zmień hasło</button>
                </form>
            {% else %}
                <h2>Nieudana zmiana hasła.</h2>
                <hr>
                <p>
                    Link do zmiany hasła jest nieprawidłowy, prawdopodobnie został już użyty wcześniej.
                    Spróbuj ponownie zmienić hasło.
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}