.jumbotron {
    text-align: center;
    background-size: cover;
    background-image: url(../img/offices.jpg);
    border-radius: 0 0 20px 20px;
    overflow: hidden;
    -webkit-box-shadow: 0px 10px 44px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 100px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.75);
}

.main {
    margin-top: 15px;
}

.ml13 {
    text-transform: uppercase;
}

.ml13 .letter {
    display: inline-block;
    line-height: 1em;
}

.ml15 {
    text-transform: uppercase;
}

.ml15 .letter {
    display: inline-block;
    line-height: 1em;
}

.ml17 {
    text-transform: uppercase;
}

.d-flex {
    overflow-y: hidden;
}

.ml17 .letter {
    display: inline-block;
    line-height: 1em;
}

.title {
    color: white;
    font-weight: lighter;
    font-size: 18px;
}

.center-button {
    padding: 10px;
    border-style: dashed;
    border-width: 1px;
    border-radius: 5px;
    border-color: lightgrey;
    text-align: center;
    margin: 10px;
}

@media screen and (min-width: 1000px) {
    .jumbotron {
        min-height: 700px;
    }

    .about-title {
        font-size: 28px;
    }

    .about-text {
        font-size: 16px;
    }

    footer {
        padding: 15px;
        margin-bottom: -60px;
        margin-top: 5px;
    }

    #hr-about {
        background-color: rgba(53, 168, 246, 0.6);
        height: 0.1px;
    }

    #home-about {
        margin-top: -10px;
        margin-left: 15%;
        margin-right: 15%;
        padding: 50px 20px 20px 20px;
    }

    .centered-left {
        padding-top: 30px;
        color: white;
        font-weight: lighter;
        font-size: 48px;
        margin-top: 135px;
    }

    #image-patient {
        opacity: 80%;
        display: block;
        background-size: cover;
        height: 200px;
        background-image: url(../img/signup_choice.JPG);
    }

    #image-office {
        opacity: 80%;
        display: block;
        background-size: cover;
        height: 200px;
        background-image: url(../img/signup_choice.JPG);
    }

    #text-signup {
        opacity: 100%;
        text-align: center;
        padding-top: 80px;
        color: white;
        font-weight: 100;
        font-size: 2.5vw;
    }

    .form {
        margin: 50px;

    }

    .right-button {
        text-align: right;
        margin-bottom: -7px;
        margin-top: -30px;
    }

    #office-image {
        width: 80%;
        height: 180px;
    }

    .offices-select-name {
        border-color: lightgrey;;
        margin-top: 70px;
        /*margin-left: 120px;*/
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        /*padding: 10px;*/
        color: black;
        text-align: center;
    }

    .search {
        margin-top: 30px;
        margin-bottom: -25px;
        margin-left: 20px;
        width: 31%;
    }

    .center-office {
        text-align: center;
        color: whitesmoke;
        margin-bottom: 160px;
        margin-top: -184px;
    }

    #nav-title {
        font-size: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .d-flex {
        margin-top: -5px;
    }

    .jumbotron {
        min-height: 320px;
    }

    .about-text {
        font-size: 13px;
    }

    footer {
        padding: 7px;
        margin-bottom: -60px;
        margin-top: 0;
    }

    #hr-about {
        background-color: rgba(53, 168, 246, 0.6);
        height: 0.1px;
    }

    #home-about {
        margin-top: -32px;
        padding: 50px 20px 20px 20px;
    }

    #nav-title {
        font-size: 20px;
    }

    .centered-left {
        color: white;
        font-weight: lighter;
        margin-top: 70px;
        font-size: 22px;
    }

    .title {
        font-size: 14px;
    }

    h2 {
        font-size: 24px;
    }

    #image-patient {
        opacity: 80%;
        display: block;
        background-size: cover;
        height: 200px;
        background-image: url(../img/signup_choice.JPG);
    }

    #image-office {
        opacity: 80%;
        display: block;
        background-size: cover;
        height: 200px;
        background-image: url(../img/signup_choice.JPG);
    }

    #text-signup {
        opacity: 100%;
        text-align: center;
        padding-top: 90px;
        color: white;
        font-weight: 500;
        font-size: 28px;
    }

    .form {
        margin: 30px;
    }

    .btn {
        font-size: 12px;
    }

    .page-link {
        font-size: 12px;
    }

    .right-button {
        text-align: left;
        margin-top: 15px;
    }

    #medical-history-add-question {
        text-align: right;
    }

    #office-image {
        width: 100%;
        height: 120px;
    }

    .offices-select-name {
        border-color: lightgrey;
        margin-top: 45px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        color: black;
        text-align: center;
    }

    .search {
        margin-top: 30px;
        margin-bottom: -10px;
        width: 100%;
    }

    .msg-mobile {
        margin-bottom: 5px;
    }

    .center-office {
        font-size: 14px;
        text-align: center;
        color: whitesmoke;
        margin-bottom: 14%;
        margin-top: -21%;
        position: relative;
    }
}

#confirmed-color {
    color: green;
}

#unconfirmed-color {
    color: red;
}

.left-side {
    margin-left: -15px;
}

.textxd {
    padding: 200px;
}

#messages-office {
    margin-top: -37px;
    padding-left: 10%;
    padding-right: 10%;
}

#uslugi {
    padding-left: 10%;
    padding-right: 10%;
}

#footer {
    border-bottom-style: solid;
    border-width: 1px;
}

.container-office {
    position: relative;
    text-align: center;
    border-style: dashed;
    border-width: 1px;
    border-radius: 5px;
    border-color: lightgrey;
    padding: 10px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 5px;
}

#center-office {
    text-shadow: 2px 2px #555555;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    padding: 10px;
    color: white;
    font-weight: 100;
    font-size: 2.5vw;
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-50%, -50%);
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.btn {
    word-wrap: break-word;
    white-space: normal;
}

.text-description {
    word-wrap: break-word;
    white-space: normal;
}

.bcg-white {
    background-color: #fdfdfd;
}

@keyframes blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

.blink {
    text-decoration: blink;
    animation-name: blinker;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}