{% extends 'base/base.html' %}
{% load static %}
{% block head %}
    <title>Fizjo-System</title>
{% endblock %}
{% block content %}
    <div class="container-flex" id="behind-jumbotron">
        <div class="jumbotron">
            <div class="row row-home-page">
                <div class="col-lg-6 col-md-0"><img class="jumbotron-home-image" alt="Office panel."
                                                    src="{% static "img/jumbotron-home.png" %}">
                    <div class="home-image-text text-muted"><i>panel zarządzania gabinetem aplikacji Fizjo-System</i>
                    </div>
                </div>
                <div class="centered-left col-lg-6 col-md-12">SYSTEM DLA GABINETÓW I<br>PACJENTÓW FIZJOTERAPII<br>
                    <div class="title">FIZJO-SYSTEM</div>
                    <br>
                    <a class="btn btn-jumbotron" href="{% url 'users:signup' %}">ZAŁÓŻ BEZPŁATNE KONTO</a>
                </div>
            </div>
            <img class="jumbotron-triangle" alt="Office panel."
                 src="{% static "img/blue_triangle_reflection.png" %}">
        </div>
    </div>
    <div class="container-flex border rounded bg-light shadow-lg" id="home-about">
        <h5 class="ml13 about-title">DODAWANIE PACJENTÓW</h5>
        <p class="ml14 about-text">ZAREJESTRUJ SWÓJ GABINET I DODAWAJ PACJENTÓW DO SWOJEJ PRYWATNEJ BAZY DANYCH.</p>
        <img class="home-icon-right" alt="Patient icon." src="{% static "img/patient-icon.png" %}">
        <hr id="hr-about">
        <h5 class="text-right mt-5 ml15 about-title">UMAWIANIE WIZYT</h5>
        <p class="text-right ml16 about-text">JAKO PACJENT MOŻESZ UMAWIAĆ WIZYTY DO ZAREJESTROWANYCH GABINETÓW.</p>
        <img class="home-icon-left" alt="Patient icon." src="{% static "img/appointment-icon.png" %}">
        <hr id="hr-about">
        <h5 class="mt-5 ml17 about-title">HISTORIA LECZENIA</h5>
        <p class="ml18 about-text">PODAJ SWÓJ ADRES EMAIL PODCZAS WIZYTY, ABY MIEĆ WGLĄD DO SWOJEJ DOKUMENTACJI
            MEDYCZNEJ.</p>
        <img class="home-icon-right" alt="Medical history icon." src="{% static "img/medical_history-icon.png" %}">
        <hr id="hr-about">
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "js/falling_letters.js" %}"></script>
    <script type="text/javascript" src="{% static "js/moving_letters.js" %}"></script>
{% endblock %}