{% extends 'Physiotherapy_Management_System/base_panel_patient.html' %}
{% block head %}
    <title>Fizjo-System - Wybierz Gabinet</title>
{% endblock head %}
{% block content %}
    <div class="container border rounded bg-light">
        <div class="form">
            {% if offices %}
                <h2>Wybierz gabinet w którym chcesz umówić wizytę:</h2>
            {% else %}
                <h2>Brak zarejestrowanych gabinetów.</h2>
            {% endif %}
            <hr>
            {% for office in offices %}
                <a href="{% url 'appointments-make-appointment' office.pk %}">
                    <div class="row">
                        <div class="col-6">
                            <img id="office-image"
                                 src="https://media.istockphoto.com/photos/female-physiotherapist-giving-exercise-treatment-picture-id917896152?k=6&m=917896152&s=612x612&w=0&h=ditlSVd8fq_SvtmeAmsZLhXULdPvw_a4yGwjwjj6T-s="
                                 class="rounded mx-auto d-block" alt="Smiley face">
                        </div>
                        <div class="col-6">
                            <h4 class="mt-1">
                                <div class="offices-select-name">{{ office.name }}</div>
                            </h4>
                        </div>
                    </div>
                </a>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock content %}