{% extends 'Physiotherapy_Management_System/base_panel_patient.html' %}
{% load crispy_forms_tags %}
{% block head %}
    <title>Fizjo-System - Odwołaj Wizytę</title>
{% endblock %}
{% block content %}
    <div class="container border rounded bg-light">
        <div class="form">
            <h2 class="mb-3">Potwierdź odwołanie wizyty.</h2>
            <hr>
            <p class="lead">Jesteś pewny, że chcesz odwołać wizytę w gabinecie:
                <strong>{{ appointment.office.name }}</strong>?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Tak, odwołaj</button>
                <a href="{% url 'patient-appointment-upcoming' %}" class="btn btn-outline-secondary" role="button">Powrót</a>
            </form>
        </div>
    </div>
{% endblock %}