{% extends 'Physiotherapy_Management_System/base_panel_office.html' %}

{% load crispy_forms_tags %}

{% block content %}
        <div class="container border rounded bg-light">
        <div class="form">
  <h2 class="mb-3">Potwierdź usunięcie historii medycznej.</h2>
        <hr>
  <p class="lead">Jesteś pewny, że chcesz usunąć historię medyczną pacjenta: <strong>{{ medicalhistory.patient }}</strong>?</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Tak, usuń</button>
    <a href="{% url 'office-home' %}" class="btn btn-outline-secondary" role="button">Powrót</a>
  </form>
    </div>
        </div>
{% endblock %}