{% extends 'base/base_panel_office.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
    <title>Fizjo-System - Stwórz Wizytę</title>
{% endblock head %}
{% block content %}
    <div class="container border rounded bg-light">
        <div class="form">
            <h2>Stwórz wizytę</h2>
            <div class="right-button"><a href="{% url 'office_panel:patient_add' %}" class="btn btn-warning"
                                 role="button">Dodaj pacjenta</a></div>
            <hr>
            <form method="post" id="register-office" novalidate="novalidate">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Stwórz wizytę</button>
            </form>
        </div>
    </div>
{% endblock content %}