{% extends 'Physiotherapy_Management_System/base_panel_office.html' %}
{% block head %}
    <title>Fizjo-System - Wizyty</title>
{% endblock %}
{% block content %}
    <div class="container border rounded mt-3 bg-light">
        <div class="form">
            {% if appointments %}
                <h2>Wszystkie wizyty:</h2>
                <hr>
                {% for appointment in appointments %}
                    <div class="text-description">
                        {{ appointment.owner }},
                        {{ appointment.date|date:"d.m.Y" }}, o godz: {{ appointment.date|date:"H:i" }} -
                        {{ appointment.choice }}
                        <br>
                        {% if appointment.confirmed %}
                            [<span id="confirmed-color">Potwierdzona</span>]
                        {% else %}
                            [<span id="unconfirmed-color">Niepotwierdzona</span>]
                        {% endif %}
                    </div>
                    <div class="right-button">
                        <a href="{% url 'office-appointment-change' appointment.pk %}" class="btn btn-info"
                           role="button">Edytuj</a>
                        <a href="{% url 'office-appointment-delete' appointment.pk %}"
                           class="btn btn-danger"
                           role="button">Odwołaj</a>
                    </div>
                    <hr>
                {% endfor %}
            {% else %}
                <h2>Nie masz umówionych żadnych wizyt.</h2>
                <h6>(pacjent musi umówić wizytę w twoim gabinecie.)</h6>
            {% endif %}
        </div>
    </div>
{% endblock content %}