{% extends 'Physiotherapy_Management_System/base_panel_office.html' %}
{% block head %}
    <title>Fizjo-System - Pacjenci</title>
{% endblock head %}
{% block content %}
    <div class="container border rounded mt-3 bg-light">
        <div class="form">
            {% if patients %}
                <h2>Wszyscy pacjenci:</h2>
                <div class="right-button"><a href="{% url 'office-patient-add' %}" class="btn btn-warning" role="button">Dodaj pacjenta</a></div>
                {% for patient in patients %}
                    <hr>
                    <a href="{% url 'office-patient-detail' patient.pk %}"
                   role="button">{{ patient.first_name }}
                    {{ patient.last_name }}</a>,
                    {{ patient.email }}
                    <div class="right-button">
                        <a href="{% url 'office-patient-change' patient.pk %}" class="btn btn-info"
                           role="button">Edytuj</a>
                        <a href="{% url 'office-patient-delete-confirm' patient.pk %}"
                           class="btn btn-danger" role="button">Usuń</a>
                    </div>
                {% endfor %}
                <hr>
            {% else %}
                <h2>Nie masz żadnych pacjentów.</h2>
                <hr>
                <a href="{% url 'office-patient-add' %}" class="btn btn-warning" role="button">Dodaj pacjenta</a>
            {% endif %}
        </div>
    </div>
{% endblock content %}